<div class="dropdown-panel">
        <div class="dropdown">
                <button class="btn-dropdown dropdown-toggle" data-toggle="dropdown">
                        Records <span class="badge"><?= $data['quantity']?></span>
                        <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                        <?php
                            if(is_array($data['files'])){
                                foreach ($data['files'] as $value) {
                                    echo "<li><a href='".
                                         urlencode("app.php?page=showrecord&xml=".$value)
                                         ."'><strong>".$value."</strong></a></li>";
                                }
                            } else {
                                echo "<li><a href='#'><strong>".$data['files']."</strong></a></li>";
                            }
                        ?>
                </ul>
        </div>		
</div>

<div class="tbl-panel">
        <table>
                <tr>
                        <th>Firstname</th>
                        <th>Lastname</th> 
                        <th>Points</th>
                </tr>
                <tr>
                        <td>Eve</td>
                        <td>Jackson</td> 
                        <td>94</td>
                </tr>
        </table>	
</div>	