<div class="dropdown-panel">
        <div class="dropdown">
                <button class="btn-dropdown dropdown-toggle" data-toggle="dropdown">
                        Dropdown <span class="badge">4</span>
                        <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li><a href="#">Separated link</a></li>
                </ul>
        </div>		
</div>

<div class="tbl-panel">
        <table>
                <tr>
                        <th>Firstname</th>
                        <th>Lastname</th> 
                        <th>Points</th>
                </tr>
                <tr>
                        <td>Eve</td>
                        <td>Jackson</td> 
                        <td>94</td>
                </tr>
        </table>	
</div>	